html {
    height:100%
}
body {
    margin: 0;
    padding: 0;    
    font-family: 'Raleway', sans-serif;
    background-color: #faebd752;
    color: #584838;
}


/* Styling hamburger   */

.hamburger{
    
    font-size:30px;
    cursor:pointer;
    
}


.sidenav {
  height: auto;
  width: 0;
  position: fixed;
  z-index: 1;  
  left: 0;
  background-color:#e77740;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #584838;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #faebd752;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    }
  
  .sidenav a {
    font-size: 18px;
     }
}

/* Inputs */
input {
    background-color: #ffab000a !important;
    color: #584838;
}

/* Anchors */

a {
    color: #584838;
}

a:hover {
    color:  black;
    text-decoration: none;
    cursor: pointer;
}

/* Fonts */

.font-orange {
    color: #e77740 !important;
}
.font-green {
    color: #5ecf0a !important;
}

.font-beige {
    color: #70560ec7 !important;
}

.font-brown {
    color:  #584838 !important;
}

.font-md {
    font-size: 1.25rem !important;
}

.font-sm {
    font-size: 0.8rem;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.letter-space {
    letter-spacing: 1px;
}



/* Backgrounds colours */

.orange {
    background-color: #e77740 !important;
}

.light-orange {
    background-color: #faebd752;
}


/* Navbar */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline:#5ecf0a 1px solid;
}


/* Cards */

img {
    width: 100%;
    height: auto;
}

.cards-width {
    width: 100%;
}
.cards-height {
    height: 60px;    
}

.cards-body {
    border: 1px solid #584838;
    border-radius: 15px;
    padding: 15px;
    background-color: #f4f2eb;
}

.cards-body:hover{
    box-shadow: 0 4px 8px 0 rgba(88, 72, 56, 0.3), 0 6px 20px 0 rgba(88, 72, 56, 0.5);
}

.card-form {
    width: fit-content;
}

/* Buttons */

