{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <!-- It supports older versions of InternetExplorer  and eleminate validations errors-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Bookshop.co.uk</title>
  </head>
  <body>

    <!-- Main navigation bar -->

    <header>
    {% include 'includes/navbar_md_lg.html' %}
    {% include 'includes/navbar_sm.html' %}
    </header>

    <!-- All categories section on small screens -->

    <div class="d-block d-sm-none mx-auto orange w-75 rounded">
        <div class="text-center">
            <a class="p-0" type="button" data-toggle="collapse" data-target="#all-categories" aria-controls="all-categories" aria-expanded="false" aria-label="Toggle navigation">
                <span class="">All categories</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="all-categories">
            <table class="table table-bordered text-center">            
                <tbody>
                    <tr>                
                        <td>
                            <a href="">Programming</a>
                        </td>
                        <td>
                            <a href="">Business</a>
                        </td>
                    </tr>
                    <tr>                
                        <td>
                            <a href="">Hardware</a>
                        </td>
                        <td>
                            <a href="">Network</a>
                        </td>
                    </tr>
                    <tr>                
                        <td>
                            <a href="">Hacking</a>
                        </td>
                        <td>
                            <a href="">Web application</a>
                        </td>
                    </tr>
                    <tr>                
                        <td>
                            <a href="">Electronics</a>
                        </td>
                        <td>
                            <a href="">Graphics</a>
                        </td>
                    </tr>
                    <tr>                
                        <td>
                            <a href="">Games</a>
                        </td>
                        <td>
                            <a href="">Databases</a>
                        </td>
                    </tr>                
                </tbody>
            </table> 
        </div>
    </div>
    

    {% block content %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://kit.fontawesome.com/3506f961d0.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>