  
{% extends "base.html" %}
{% load static %}


{% block content %}    
    <div class="container">
       <div class="container-fluid">
            <div class="row">
                <!-- Column with the information about product  -->
                <div class="col-md-6">                    
                    <p class="mb-2 pt-3 font-weight-bold">{{ product.name }}</p>
                    <p class="lead mb-1 text-left">£{{ product.price }}</p>
                    {% if product.rating %}
                    <small><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                    <small>No Rating</small>                    
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <div>
                        <a href="">Edit</a> 
                        <a href="">Delete</a>
                     </div>
                    {% endif %}
                    <p class="mt-3 mb-0" id="description">{{ product.description1 }}
                        {% if product.description2 %}
                        <span class="hide-desc">{{ product.description2 }}</span>
                        {% endif %}
                    </p>                                                            
                </div>                
                <!-- Column with the image of the product -->
                <div class="col-md-6 d-none d-md-block h-100">                    
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank" class="float-md-left pr-3 pt-3">
                            <img class="card-img-top img-fluid width-50" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
                {% if product.description2 %}
                <div class="col-12 d-none d-md-block d-lg-none">
                    <p class="mt-3 mb-0">{{ product.description2 }}</p>
                </div>
                {% endif %}
            </div>
            
            <!-- Quantity input field -->
            <div class="col-12">
                <form class="form" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3">
                                <strong>Quantity:</strong>
                            </p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn rounded-0">
                                            <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn rounded-0">
                                            <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a href="{% url 'products' %}" class="btn p-0 border-0 orange">
                            <span class="ml-1">
                                <i class="fas fa-chevron-left font-green"></i>
                            </span>
                            <span class="text-uppercase btn pl-0">Keep Shopping</span>
                        </a>
                        <input type="submit" class="btn text-uppercase orange" value="Add to Bag">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">                        
                </form>
            </div>        
       </div>        
    </div>
{% endblock %}